*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px !important;
  font-family: "Inter", sans-serif !important;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none !important;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  object-fit: cover;
}
.btn {
  border-radius: 0 !important;
}
/* Chi tiết */

/* home */

/* navbar */
.navbar {
  position: relative;
}
.navbar-extended {
  position: absolute;
  right: 0;
  top: -50px;
  width: 288px;
  background-color: black;
  margin-top: 61px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.navbar-entended-contents {
  padding: 32px 28px;
}
.navbar-entended-content {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}
a.navbar-entended-content {
  padding-bottom: 8px;
  color: #ffffff !important;
  display: block;
  transition: 0.4s;
}
a.navbar-entended-content:hover {
  color: #cb2a1d !important;
}
.nav-link {
  transition: 0.4s;
}

.visible {
  opacity: 1;
  visibility: visible;
  top: 0px;
}
.nav-dropdown {
  position: relative;
}
.navbar-extended-blocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
}
/* slide1 */
.firstSlide .carousel-caption {
  top: 50% !important;
  transform: translateY(-50%);
}
.firstSlide .button-slide {
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 12px;
}

.firstSlide .button-slide.active {
  background-color: #ffffff;
}

.firstSlide .button-slide:focus {
  outline: none;
}

/* slide2 */
.secondSlide {
  padding: 80px 0;
  background-color: black;
}
.secondSlide .carousel-indicators {
  align-items: center;
}
.secondSlide .carousel-indicators .secondSlide-button {
  color: #707070;
  transition: 0.4s;
}
.secondSlide .carousel-indicators .secondSlide-button.active {
  color: #ffffff;
  font-size: 24px;
}
.secondSlide-right {
  background-color: #252525;
  position: relative;
  z-index: 2;
}
.secondSlide .carousel-caption {
  padding: 32px 40px !important;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.secondSlide .carousel-item img {
  position: relative;
  z-index: 2;
}
.secondSlide .carousel-caption h1 {
  font-size: 48px !important;
}
/* paper */
.paper {
  background-color: black;
  background-image: url(../img/home/paper-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 40px 0 80px 0;
}

.paper-one {
  border: 1px solid #ffffff;
  padding: 30px 0;
  position: relative;
  height: 263px;
}
.paper-one .paper-one-bracket {
  position: absolute;
  left: 6px;
}
.paper-one .paper-one-text {
  color: #ffffff;
  padding: 0 30px;
}
.paper-one .paper-one-logo {
  margin-bottom: 20px;
}

/* products */
.product {
  height: 466px;
  background-color: black;
  position: relative;
  z-index: 0;
  width: 50%;
  transition: 0.4s;
  border: 1px solid #9d9d9d;
}

.product .product-overlay {
  background-color: #707070;
  width: 100%;
  height: 466px;
  z-index: 0;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s;
}
.product .product-img {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}

.product-text {
  color: black;
  font-size: 90px;
  position: absolute;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s;
}

.product:hover .product-overlay {
  opacity: 0.8;
  transition: 0.4s;
}

.product:hover .product-text {
  opacity: 1;
  transition: 0.4s;
}

/* footer */
footer a{
  color:#ffffff !important; 
}
footer {
  width: 100%;
  background-color: black;
  padding: 40px 0;
}
.footer-logo {
  margin-bottom: 40px;
}
.footer-text {
  color: #ffffff;
  margin-bottom: 32px;
}
.footer-text a {
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  margin-bottom: 12px;
  transition: 0.4s;
}
.footer-text a:hover {
  color: #cb2a1d !important;
}
.footer-text b {
  margin-bottom: 18px;
}
.footer-text i {
  font-size: 16px;
}
.copyright {
  color: #6e6b6c;
}
.social {
  color: #ffffff;
}
.social i {
  cursor: pointer;
  transition: 0.4s;
}
.social i:hover {
  color: #cb2a1d !important;
}

/* car */
.car-name {
  border: 1px solid #cb2a1d;
  width: 100%;
  padding: 10.5px;
  transition: 0.4s;
  cursor: pointer;
}
.car-name-active {
  background-color: #cb2a1d;
  color: #ffffff;
}
.car-info b {
  margin-bottom: 8px;
}
.car-info-slash {
  height: 70%;
  border-right: 1px solid black;
}
.car-info-btn {
  width: 240px;
  padding: 10px 0 !important;
}
.car .carousel-control-next,
.car .carousel-control-prev {
  width: inherit;
  justify-content: start;
}
.car-detail {
  transition: 0.4s;
  position: relative;
}
.car-name-slide {
  font-size: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

/* .car-detail .carousel-item{
  width: 100%;
  height: 563px;
} */

/* car detail */

/* president */
.cardetail-banner {
  margin-top: 60px;
  position: relative;
}

.cardetail-banner-bg {
  background-image: url(../img/president/bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cardetail-banner-infos {
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

.cardetail-banner h1 {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0.22em;
  font-weight: bold;
  font-size: 42px;
  color: black;
}

.cardetail-banner-infos {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.cardetail-banner-infos b {
  margin-bottom: 12px;
  font-size: 20px;
  letter-spacing: 0.01em;
}
.cardetail-banner-infos span {
  font-size: 20px;
  letter-spacing: 0.01em;
}

/* cardetail-interior */
.cardetail-interior {
  color: #ffffff;
}
.cardetail-interior .cardetail-interior-header {
  background-color: black;
}
.cardetail-interior .cardetail-interior-header h4 {
  padding: 40px 0 40px 0;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 0.0025em;
  margin: 0;
}
.cardetail-interior .cardetail-interior-contents {
  background-image: url(../img/detailcar/president/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 48px 0;
}
.cardetail-interior .cardetail-interior-content {
  margin-bottom: 32px;
}
.cardetail-interior .cardetail-interior-content h4 {
  margin-bottom: 12px;
  font-size: 34px;
  letter-spacing: 0.0025em;
  font-weight: bold;
}
.cardetail-interior .cardetail-interior-content p {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 2;
}
.cardetail-interior .cardetail-interior-content .dash {
  height: 1px;
  width: 92px;
  border: 1px solid white;
}

/* cardetail-color */
.cardetail-color {
  margin: 80px 0;
}
.cardetail-color h4 {
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0.0025em;
}

.cardetail-color-colorpick {
  width: 100%;
  cursor: pointer;
  height: 32px;
  border: 1px solid #e4e4e4;
}
.colorpick-red {
  background-color: #c70000;
}
.colorpick-silver {
  background-color: #999999;
}
.colorpick-purple {
  background-color: #5c445e;
}
.colorpick-white {
  background-color: white;
}
.colorpick-orange {
  background-color: #cc2a1d;
}
.colorpick-black {
  background-color: black;
}
.colorpick-blue {
  background-color: #122a41;
}
.colorpick-brown {
  background-color: #41352b;
}
.colorpick-gray {
  background-color: #5f6363;
}
.cardetail-color-colorpick i {
  margin-top: 8px;
  color: white;
  opacity: 0;
  display: none;
}
.cardetail-color-colorpick i.color-active {
  display: inline-block;
  opacity: 1;
}
.cardetail-color-img {
  position: relative;
  z-index: -100;
  /* overflow: hidden; */
}
.cardetail-color-img img {
  transition: 0.4s;
  /* transform: scale(1.3); */
}

/* cardetail-features */
.cardetail-features {
  background-color: black;
  color: #ffffff;
  padding: 80px 0;
}
.cardetail-features-text {
  margin-top: 80px !important;
}
.cardetail-features-text h4 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.0025em;
  margin-bottom: 30px;
}
.cardetail-features-text h2 {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.0025em;
  margin-bottom: 30px;
}
.cardetail-features-text-desc {
  margin-bottom: 30px;
}
.cardetail-features-list {
  overflow-y: scroll;
  height: 200px;
}
.cardetail-features-list p {
  cursor: pointer;
  transition: 0.4s;
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e4e479;
}
.cardetail-features-list p:hover {
  color: #cc2a1d;
}
.cardetail-features-list-active {
  color: #cc2a1d;
}

.cardetail-features-list::-webkit-scrollbar {
  width: 7px;
}
.cardetail-features-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.cardetail-features-list::-webkit-scrollbar-thumb {
  background: #cc2a1d;
}
.cardetail-features-list::-webkit-scrollbar-thumb:hover {
  background: #9e1f16;
}

/* cardetail-info */
.cardetail-info {
  padding: 80px 0;
}

.cardetail-info h4 {
  font-weight: bold;
  font-size: 16px;
}

.cardetail-info p {
  font-size: 16px;
}

.cardetail-info .one-info {
  margin-bottom: 40px;
}

.cardetail-info .cardetail-info-button {
  border: 1px solid black;
  padding: 14px 130px;
  margin-top: 40px;
}
.cardetail-info .cardetail-info-button a {
  color: black !important;
}
.cardetail-info .cardetail-info-button:hover {
  background-color: black;
}
.cardetail-info .cardetail-info-button:hover a {
  color: white !important;
}

/* cardetail-footer */
.cardetail-footer {
  position: relative;
}
.cardetail-footer h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  font-weight: normal;
  letter-spacing: 0.4em;
  z-index: 2;
  font-size: 38px;
}
.cardetail-footer-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
}

/* order prisident */
.order-header{
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.25em;
  margin-bottom: 40px;
}
.order-versions{
  margin-bottom: 40px;
}
.order-item-header{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 16px;
}
.order-version{
  border: 1px solid #707070;
  margin-bottom: 16px;
  cursor: pointer;
  transition: .4s;
}
.order-version.order-version-active{
  background-color: #cb2a1d;
}
.order-version.order-version-active p{
  color:#ffffff !important;
}
.order-version p{
  margin-bottom: 0;
  padding: 12px 20px 12px 20px;
  color: #000000;
  transition: .4s;
}

.order-interior img{
  cursor: pointer;
}
.order-interior-active{
  border: 1px solid #cb2a1d;
}

.order-next{
  color: #ffffff !important;
  display:block;
  text-align: center;
  background-color: #cb2a1d !important;
  margin-top: 20px;
  width: 100%;
  padding: 10px 0 !important;
}

@media screen and (max-width: 1200px) {
  /* slide2 */
  .secondSlide .carousel-caption {
    padding: 20px 20px !important;
  }
  .secondSlide .carousel-caption h1 {
    font-size: 32px !important;
    margin-bottom: 8px !important;
  }
  .secondSlide .carousel-caption p {
    font-size: 14px !important;
    letter-spacing: 0;
    line-height: 1.2;
  }
  .secondSlide .carousel-indicators .secondSlide-button.active {
    color: #ffffff;
    font-size: 16px;
  }
  .secondSlide .carousel-indicators .secondSlide-button {
    font-size: 12px;
  }

  /* paper */
  .paper .paper-one-text {
    font-size: 14px;
  }
  .paper .paper-one-bracket {
    width: 20px;
    height: 20px;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    object-fit: cover;
  }

  /* products */
  .product-text {
    font-size: 72px;
  }

  /* cardetail-banner */
  .cardetail-banner h1 {
    font-size: 32px;
  }
  .cardetail-banner-info b {
    font-size: 16px;
  }
  .cardetail-banner span {
    font-size: 16px;
  }

  /* cardetail-color */
  .cardetail-color h4 {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

/* shipping */
.shipping-header{
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.25em;
}
.shipping-right-header{
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.2px !important; 
  font-weight: bold;
  margin-bottom: 12px;
}
.shipping-right-color{
  background-color: #cb2a1d;
  height: 32px;
  width: 90%;
}
.shipping-right-interior img{
  height: 32px;
}
.shipping-price-desc{
  font-size: 16px;
  letter-spacing: 0.01em;

}
.shipping-price-price{
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.01em;
}
.shipping-price-price.discount{
  color: #cb2a1d ;
}
.shipping-btn{
  text-align: center;
  background-color: #cb2a1d !important;
  display: inline-block;
  color:#ffffff !important;
  width: 100%;
  padding: 10px 0px !important;
  margin-top: 20px;

}
.select-placeholder{
  color:#999 !important;
}
select:invalid{
  color: #999 !important;
}
select:disabled{
  color: #999 !important;
}

.shipping-left-section{
  background-color: #f3f3f3;
  padding:20px;
}
.shipping-left-title, .shipping-location{
  margin-bottom: 32px;
}
.shipping-left-section{
  margin-bottom: 12px;
}
.shipping-voucher{
  width: 300px !important;
}
.shipping-voucher input{
  border-radius: 0;
}
.shipping-voucher button{
  background-color: #cc2a1d;
  color:#ffffff;
  border: none;
}
.shipping-voucher button:hover{
  background-color: #cc2a1d;
  color:#ffffff;
  border: none;
}
.form-check-input:checked{
  background-color: #cb2a1d !important;
  border-color: #cb2a1d !important;
}
.shipping-left-desc{
  color:#767676;
}
@media screen and (max-width: 992px) {
  /* home */

  /* navbar */
  .navbar.navbar-expand-lg.navbar-dark.bg-transparent.fixed-top {
    background-color: #ffffff !important;
  }
  .navbar-brand {
    color: black !important;
  }
  .navbar-toggler i {
    color: black;
  }
  .nav-link {
    color: black !important;
  }
  .navbar-nav {
    margin-top: 20px !important;
  }
  .laiThu {
    color: black !important;
    border: 1px solid black !important;
    margin-top: -20px;
  }
  .navbar-line {
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nav-item-md {
    color: black;
    display: inline-block;
    margin-bottom: 12px;
    transition: 0.4s;
  }
  .nav-item-md:hover {
    color: #cb2a1d;
  }

  .dark-hover:hover {
    color: #cb2a1d !important;
  }

  /* slide1 */
  .firstSlide .carousel-caption h1 {
    font-size: 34px !important;
  }
  .firstSlide .carousel-caption p {
    font-size: 14px !important;
  }
  .firstSlide .carousel-caption {
    transform: translateY(-60%);
  }

  /* slide2 */
  .secondSlide .carousel-caption {
    padding: 16px 16px !important;
  }
  .secondSlide .carousel-caption h1 {
    font-size: 20px !important;
    margin-bottom: 8px !important;
  }
  .secondSlide .carousel-caption p {
    font-size: 12px !important;
    letter-spacing: 0;
    line-height: 1.2;
  }

  /* paper */
  .paper .paper-one-text {
    font-size: 16px;
  }
  .paper .paper-one-bracket {
    width: 26px;
    height: 26px;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    object-fit: cover;
  }
  .paper .paper-one {
    padding: 40px;
    height: 220px;
    margin-bottom: 40px;
  }
  .paper-one .paper-one-bracket {
    position: absolute;
    left: 30px;
  }

  /* products */
  .product-text {
    font-size: 60px;
  }

  /* cardetail-banner */
  .cardetail-banner-infos {
    position: relative;
    transform: none;
    bottom: 0;
    left: 0;
    padding: 40px 0;
    width: 90%;
  }
  .cardetail-banner h1 {
    font-size: 27px;
  }

  /* cardetail-interior */
  .cardetail-interior h4 {
    font-size: 20px !important;
  }
  .cardetail-interior p {
    font-size: 16px !important;
  }

  /* cardetail-features */
  .cardetail-features-text {
    margin-top: 10px !important;
  }
  .cardetail-features-text h4{
    margin-bottom: 12px;
  }
  .cardetail-features-text h2{
    margin-bottom: 12px;
  }

  /* cardetail-footer */
  .cardetail-footer h2{
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  /* slide2 */
  .secondSlide-right {
    height: 200px;
  }
  .secondSlide .carousel-caption h1 {
    text-align: center;
    margin-bottom: 12px !important;
    font-size: 28px !important;
  }
  .secondSlide-content {
    height: 200px !important;
  }
  .secondSlide .carousel-caption {
    padding: 20px !important;
  }

  /* paper */
  .paper .paper-one {
    padding: 20px;
  }

  /* products */
  .product-text {
    font-size: 32px;
  }
  .product {
    height: 250px;
  }
  .product .product-overlay {
    height: 250px;
  }

  /* car */
  .car-name {
    font-size: 14px;
  }
  .car-name-slide {
    font-size: 36px;
    top: -5px;
  }
  .navbar {
    position: relative !important;
  }

  /* cardetail-banner */
  .cardetail-banner h1 {
    font-size: 20px;
  }
  .cardetail-banner {
    margin-top: 0;
  }
  .cardetail-banner-wrapper {
    margin-top: 0 !important;
  }
  .cardetail-banner-infos {
    justify-content: space-around !important;
  }

  /* cardetail-interior */
  .cardetail-interior h4 {
    font-size: 16px !important;
  }
  .cardetail-interior p {
    font-size: 14px !important;
  }
}
